table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
table {
  // background: whitesmoke;
  margin: 3rem 2rem;
}
th,
td {
  padding: 0.5rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background: green;
}
.about {
  background: rgb(224, 221, 221);
  width: 100%;
  display: flex;
  padding-top: 100px;
  &__table1 {
    width: 60%;
    
  }
  &__table2 {
    width: 40%;

    form {
      margin: 6rem 3rem;
      position: fixed;
      input {
        width: 60%;
        padding: 12px;
        margin-top: 1rem;
      }
    }
  }
}
